.popup {
    display: flex;
    /* visibility: hidden; */
    opacity: 1;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    transition: visibility .175s, opacity .25s linear;
}