.footer__list {
    list-style: none;
    display: none;
}

@media screen and (max-width: 568px) {
    .footer__list {
        display: grid;
        grid-template-columns: repeat(1, max-content);
        column-gap: 8px;
    }
}

@media screen and (max-width: 384px) {
    .footer__list {
        display: grid;
        grid-template-columns: repeat(1, auto);
        column-gap: 8px;
    }
}