.main__result {
    display: flex;
    align-items: center ;
    color: var(--ui-result);
    max-width: 100%;
    width: fit-content;
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 1.5px;
    text-rendering: optimizeLegibility;
    transition: transform .550s ease-out, opacity .275s ease-out;
}

@media screen and (max-width: 568px) {
    .main__result {
        font-size: 28px;
    }
};